
.radar{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  width:480px;
  height:480px;
  border-radius: 50%;
  border:20px solid #f7f7f7;
  background: #000000 url(/map2.jpg);
  background-size: cover;
  box-shadow: 0 8px 0 #c5c5c5, inset 0 0 100px rgba(0,255,0,.5);
  overflow: hidden;
}
.radar:before{
  content:'';
  position:absolute;
  top:80%;
  left:55%;
  width:10px;
  height:10px;
  background: #00ff00;
  border-radius: 50%;
  filter:blur(2px);
  animation: glow 1s linear infinite;
}
.radar:after{
  content:'';
  position:absolute;
  top:70%;
  left:45%;
  width:10px;
  height:10px;
  background: #00ff00;
  border-radius: 50%;
  filter:blur(2px);
  animation: glow 1s linear infinite;
}
.radar li:nth-child(1),
.radar li:nth-child(2),
.radar li:nth-child(3),
.radar li:nth-child(4){
  list-style:none;
  position:absolute;
  top:50%;
  height:1px;
  background:rgba(0,255,0,1);
}
.radar li:nth-child(2){
  transform:rotate(90deg);
}
.radar li:nth-child(3){
  transform:rotate(45deg);
}
.radar li:nth-child(4){
  transform:rotate(-45deg);
}
.radar li:nth-child(5),
.radar li:nth-child(6),
.radar li:nth-child(7){
  list-style: none;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border:1px solid rgba(0,255,0,1);
  background: transparent;
  border-radius: 50%;
}
.radar li:nth-child(5){
  width:120px;
  height:120px;
}
.radar li:nth-child(6){
  width:240px;
  height:240px;
}
.radar li:nth-child(7){
  width:360px;
  height:360px;
}
.radar li:nth-child(8){
 list-style: none;
 position:absolute;
 top:50%;
 left:50%;
 width:250px;
 height:250px;
 transform-origin: top left;
 background: linear-gradient(45deg, #00ff00 0%, transparent 50%);
 animation:animate 2s linear infinite;
}
@keyframes animate{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
@keyframes glow{
  0%{
    opacity:0;
  }
  50%{
    opacity:1;
  }
  50%{
    opacity:0;
  }
}
/* 
.load-wrapper {
    
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: url(../../images/starry-night.png);
    background-size: 100%;
    overflow: hidden;
  }
  
  .loader {
    display: block;
    width: 125px;
    height: 125px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 50%;
    background: #fcc96b;
    background: rgb(252, 201, 107);
    background: linear-gradient(
      180deg,
      rgba(252, 201, 107, 1) 0%,
      rgba(252, 201, 107, 1) 15%,
      rgba(247, 174, 1, 1) 15%,
      rgba(247, 174, 1, 1) 19%,
      rgba(252, 201, 107, 1) 19%,
      rgba(252, 201, 107, 1) 22%,
      rgba(247, 174, 1, 1) 22%,
      rgba(247, 174, 1, 1) 28%,
      rgba(252, 201, 107, 1) 28%,
      rgba(252, 201, 107, 1) 31%,
      rgba(252, 201, 107, 1) 33%,
      rgba(252, 201, 107, 1) 36%,
      rgba(247, 174, 1, 1) 36%,
      rgba(247, 174, 1, 1) 48%,
      rgba(252, 201, 107, 1) 48%,
      rgba(252, 201, 107, 1) 55%,
      rgba(247, 174, 1, 1) 55%,
      rgba(247, 174, 1, 1) 66%,
      rgba(252, 201, 107, 1) 66%,
      rgba(252, 201, 107, 1) 70%,
      rgba(247, 174, 1, 1) 70%,
      rgba(247, 174, 1, 1) 73%,
      rgba(252, 201, 107, 1) 73%,
      rgba(252, 201, 107, 1) 82%,
      rgba(247, 174, 1, 1) 82%,
      rgba(247, 174, 1, 1) 86%,
      rgba(252, 201, 107, 1) 86%
    );
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
      inset 8px -4px 6px rgba(199, 128, 0, 0.5),
      inset -8px 4px 8px rgba(255, 235, 199, 0.5),
      inset 20px -5px 12px #f7ae01,
      0 0 100px rgba(255, 255, 255, 0.35);
    transform: rotateZ(-15deg);
  }
  
  .loader::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 16px solid #7b6f42;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #b1a693;
    animation: rings1 0.8s infinite linear;
  }
  
  .loader::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 8px solid #b1a693;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #7b6f42;
    animation: rings2 0.8s infinite linear;
  }
  
  @keyframes rings1 {
    0% {
      transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
    }
    100% {
      transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
    }
  }
  
  @keyframes rings2 {
    0% {
      transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
    }
    100% {
      transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
    }
  }   */